@import url('https://fonts.cdnfonts.com/css/hai-eisya');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@font-face {
    font-family: 'Bracesso';
    src: url(font/Bracesso.ttf);
}

*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(./img/amarillo1.jpg);
    background-repeat: repeat;
}

.contenedorhnav{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 5%;
    background: #FFC107;
    padding: 10px 0px;
    border-bottom: 1px solid #f5deb3b0;
}

h1{
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 79%;
    text-align: center;
    font-family: 'Bracesso';
    -webkit-text-stroke: 0.1px #FFC107;
    color: #795548;
    text-shadow: #080808 -7px 4px 0px;
    font-size: 11vw;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.fa-arrow-down{
    margin-bottom: 15px;
    font-size: 1.2em;
    color: black;
    background-color: #795548b8;
    padding: 11px;
    border-radius: 19px;
    text-shadow: 0px 2px 1px #f5deb342;
    border: 1px solid;
}

a{
    font-weight: bold;
    font-family: 'Comfortaa', sans-serif;
    color: black;
    font-size: 2vh;
    text-decoration: none;
    text-shadow: 0px 2px 1px #f5deb342;
}

.reserva{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(img/amarillo1.jpg);
    background-repeat: repeat;
}

h2{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 7vw;
    padding: 15px 0px;
    text-shadow: -1px 1px 3px wheat;
}

.monarca1{
    width: 25vw;
    height: 35vh;
}

article{
    width: 70%;
    padding: 15px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

p{
    font-family: 'Roboto Mono', monospace;
    color: #020202;
    text-shadow: -1px 1px 3px wheat;
    text-align: justify;
    font-size: 1.3vw;
    font-weight: bold;
}

.migracion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(img/amarillo1.jpg);
    background-repeat: repeat;
}

.fecha{
    background-color: #BF3604;
    padding-bottom: 85px;
}